
#header-row {
	display : flex;
	margin-bottom : 5px;


}

.day-cell {
	width : 15vw;
	text-align : center;
	font-weight : bold;
}

.calendar-row {
	display : flex;
	margin-bottom : 2px;

}

.calendar-cell {
	border : 1px solid black;
	width : 30vw;
	height : 15vh;
	text-align : center;
	vertical-align : middle;
}